@(form: Form[(String, String, String)])(implicit flash: Flash)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">

        <title>Signup</title>
        <link rel="shortcut icon" type="image/pgn" href="@routes.Assets.at("images/favicon.png")" />
        <link rel='stylesheet' href="@routes.Assets.at("stylesheets/bootstrap.min.css")" />
        <link rel='stylesheet' href="@routes.Assets.at("stylesheets/signin.css")" />

            <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <div class="container">
            <form class="form-signin" role="form" action="@routes.Application.signup()" method="POST">
                <h2 class="form-signin-heading">Please sign up</h2>
                <input type="text" name="name" class="form-control" placeholder="name" id="name" value="@form("name").value" required autofocus>
                <input type="email" name="email" class="form-control" placeholder="Email" id="email" value="@form("email").value" required>
                <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
                <button class="btn btn-lg btn-primary btn-block" id="loginButton" type="submit">Sign up</button>
            </form>
        </div>
    </body>
</html>